<!-- BEGIN_INCLUDE(neo4j:execute) -->
    <neo4j:execute config-ref="Neo4j__Basic_Authentication" query="CREATE (a:Person) RETURN A" parameters-ref="#[flowVars.params]" doc:name="Execute"/>
<!-- END_INCLUDE(neo4j:execute) -->

<!-- BEGIN_INCLUDE(neo4j:create-node) -->
    <neo4j:create-node config-ref="Neo4j__Basic_Authentication" label="Person" parameters-ref="#[flowVars.params]" doc:name="Create node"/>
<!-- END_INCLUDE(neo4j:create-node) -->

<!-- BEGIN_INCLUDE(neo4j:select-nodes) -->
    <neo4j:select-nodes config-ref="Neo4j__Basic_Authentication" label="Person" doc:name="Select node"/>
<!-- END_INCLUDE(neo4j:select-nodes) -->

<!-- BEGIN_INCLUDE(neo4j:update-nodes) -->
    <neo4j:update-nodes config-ref="Neo4j__Basic_Authentication" label="Person" parameters-ref="#[flowVars.params]" setParameters-ref="#[flowVars.newParams]" doc:name="Update Node"/>
<!-- END_INCLUDE(neo4j:update-nodes) -->

<!-- BEGIN_INCLUDE(neo4j:delete-nodes) -->
    <neo4j:delete-nodes config-ref="Neo4j__Basic_Authentication" label="Person" doc:name="Delete node"/>
<!-- END_INCLUDE(neo4j:delete-nodes) -->
